# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtualenv
venv/
env/
.venv/
venv*/
ENV/

# Editor
.vscode/
.idea/

# OS
Thumbs.db
desktop.ini

# Secrets
.env
*.pem
*.key
*.crt

# Data (optional)
data/
resume_index.faiss
resume_lookup.csv

# Jupyter
.ipynb_checkpoints/
